.flex {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 12px;
  font-size: 24px;
}

.separator {

    height: 330px;
    width: 3px;
    margin: 60px;
    background-color: black;
}

main {
    flex-direction: column;
    color: black;
}

.input-task {
    padding: 8px;
    border-radius: 8px;
}

.clear-and-create-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 160px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.prio-button {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.prio-button-image {
    width: 18px;
}

.buttonTaskDiv {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.checkbox-menu {
    background-color: white;
    width: 200px;
    height: 135px;
}

.input-button {
    height: 20px;
    width: 20px;
}