.register-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.back-button {
    width: 40px;
    height: 40px;
    border-radius: 24px;
}

.back-button-link {
    position: absolute;
    margin: 80px 18px;
}